[submodule "BeatNet"]
	path = BeatNet
	url = git@github.com:kbox13/BeatNet.git
[submodule "madmom"]
	path = madmom
	url = https://github.com/BigRedDoge/madmom.git
[submodule "essentia"]
	path = essentia
	url = git@github.com:kbox13/essentia.git
